<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="stylesheet" href="static/styles/site.css"/>

</head>

<body>
    <div id="main">
        <h1>About Us</h1>
        <p>We are here to help you out with the harmful diseases or pests. We take input either in image format or text and then we predict the diseases/pest. We also provide you with the organic cure. We also do the same with the weed plants. 
          This would help to bring down the crop loss by 80% and maximise the yield.</p>
    </div>
</body>
</html>