<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
  
  <link rel="stylesheet" href="static/styles/site.css"/>
</head>

<body>

  <div id="main">
  <h1>Welcome to Our Company</h1>
  <h2>Web Site Main Ingredients</h2>

  <p>Pages (HTML)</p>
  <p>Style Sheets (CSS)</p>
  <p>Computer Code (JavaScript)</p>
  <p>Live Data (Files and Databases)</p>
  </div>

  <div class="logo"><a href="/about us/">AboutUS</a></div>
  <div class="logo"><a href="aboutus.html">AboutUS</a></div>

</body>
</html>
